
            <div class="userTableHeading flex flex-align-center pt-3">
              <h4 class="fw-bold">Files</h4><span>(100 items found)</span>
            </div>
            <div class="table-box">
              <table class="transcribe-table white-space-nowrap">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Crerated By</th>
                    <th>Time</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Mobile App</td>
                    <td>Jhon</td>
                    <td>01:20AM</td>

                    <td>
                        <span class="badge" style="background-color: rgba(26, 213, 152, 20%); color: #0EAF52; border-bottom: unset;">Complete</span>
                    </td>
                    <td>
                      <div class="action-box">
                        <a href="#">
                          <img src="./assets/images/edit-icon.png" alt="">
                        </a>

                        <a href="#" class="mx-2">
                          <img src="./assets/images/downloadfile.png" alt="">
                        </a>

                        <a href="#">
                          <img src="./assets/images/delete-icon.png" alt="">
                        </a>

                      </div>
                    </td>
                </tbody>
              </table>
            </div>


