
<div class="userTableHeading flex flex-align-center pt-3">
  <h4 class="fw-bold">Export Files</h4>
</div>
<div class="table-box">
  <table class="transcribe-table white-space-nowrap">
    <thead>
      <tr>
        <th>ID</th>
        <th>EstimationName</th>
        <th>Status</th>
        <th>Crerated</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Mobile App</td>
        <td>
          <span class="badge" style="background-color: rgba(26, 213, 152, 20%); color: #0EAF52; border-bottom: unset;">Complete</span>
        </td>
        <td>Need to Design</td>
        <td>
          <div class="action-box">

            <a href="#">
              <img src="./assets/images/delete-icon.png" alt="">
            </a>
          </div>
        </td>
    </tbody>
  </table>
</div>


