
<div class="userTableHeading flex flex-align-center pt-3">
  <h4 class="fw-bold">Estimation Result</h4>
</div>
<div class="table-box">
  <table class="transcribe-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Task</th>
        <th>Discription</th>
        <th>Comments</th>
        <th>hours</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let estimationData of resultResponse, let i = index">
        <td>{{i + 1}}</td>
        <td>{{estimationData.username_obj}}</td>
        <td style="width:250px;">{{estimationData.description_obj}}</td>
        <td><div style="width:250px;">{{estimationData.comments_obj}}</div></td>
        <td>{{estimationData.hours_obj}}</td>
        <td>
          <div class="action-box">
            <button class="mx-2" data-bs-toggle="modal" data-bs-target="#editvalue" (click)="editfunc(estimationData)">
              <img src="./assets/images/edit-icon.png" alt="">
            </button>

            <button>
              <img src="./assets/images/delete-icon.png" alt="Delete" (click)="delEstimation(estimationData)">
            </button>

          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<!-- Modal for Edit purpose -->
<!-- Modal -->
<div class="modal fade" id="editvalue" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="clear"></button>
      </div>
      <div class="modal-body">
        <form action="submit" [formGroup]="inputsvaule">
          <div class="row g-3">
            <div class="col-6" style="display:none;">
              <input type="number" class="form-control" placeholder="id" aria-label="First name" [(ngModel)]="EditObject.id" formControlName="id">
            </div>
            <div class="col-6">
              <input type="text" class="form-control" placeholder="Task" aria-label="First name" formControlName="username_obj" [(ngModel)]="EditObject.username_obj">
            </div>
            <div class="col-6">
              <input type="text" class="form-control" placeholder="Discription" aria-label="Last name" [(ngModel)]="EditObject.description_obj" formControlName="description_obj">
            </div>
            <div class="col-6">
              <input type="text" class="form-control" placeholder="Comments" aria-label="First name" [(ngModel)]="EditObject.comments_obj" formControlName="comments_obj">
            </div>
            <div class="col-6">
              <input type="number" class="form-control" placeholder="Hours" aria-label="Last name" [(ngModel)]="EditObject.hours_obj" formControlName="hours_obj">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button  type="submit" class="btn btn-primary" (click)="updateVluse()">Save changes</button>
      </div>
    </div>
  </div>
</div>
